* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
  
}

.kill {
  width: 50%;
  max-width: 500px;
  background-color: lightblue;
  color: black;
  margin: 100px;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  float: left;
}

.main {
  width: 50%;
  max-width: 550px;
  background-color: lightblue;
  color: white;
  border-radius: 20px;
  text-align: center;
  height: auto;
  max-height: 500px;
  margin-top: 130px;
  margin-bottom: 200px;
  margin-right: 200px;
  border: none;
  box-sizing: border-box;
  float: right;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 2;
  border-color: black;
  outline: 0;
  background: white;
  color: black;
  padding: 10px;
  height: 30px;
  border-radius: 25px;
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}

.search img{
  width: 40px;

}

.search button {
  border: 2;
  border-color: black;
  outline: 0;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.icon {
  margin: 10px;
  width: 120px;
  margin: top 30px;
}

.weather h1 {
  color: black;
  font-size: 70px;
  font-weight: 480;
}

.weather h2 {
  color: black;
  font-size: 45px;
  font-weight: bold;
}

.error {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: black;
  display: none;
}

.daydate {
  color: black;
  font-size: medium;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 60px;
}

.yo {
  display: flex;
  align-items: center;
  text-align: left;
}

.yo img {
  margin: 5px;
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind,
.pressure {
  font-size: 30px;
  margin-top: 2px;
}